{% extends 'base.html' %}
{% block content %}
<div class="container divCreate">
   <h1 class="fontWhite">Criar Postagem</h1>
   <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% if form.errors %}
      <div class="divErrors">
         <div>
            <ol>
               <ul>{{form.autor.errors}}</ul>
               <ul>{{form.titulo.errors}}</ul>
               <ul>{{form.briefing.errors}}</ul>
               <ul>{{form.texto.errors}}</ul>
               <ul>{{form.imagem.errors}}</ul>
               <ul>{{form.dataCriacao.errors}}</ul>
            </ol>
         </div>
      </div>
      {% endif %}
      <div class="fontWhite">
         <div class="form-group">
         <input type="hidden" style="color:black;" name="autor" required id="id_autor" value="{{form.autor.value}}" />
         </div>
         <div class="form-group">
            <label for="" class="">Título</label>
            <input id="id_titulo" maxlength="50" name="titulo" type="text" value="{{form.titulo.value}}" class="form-control"/>
         </div>
         <div class="form-group">
            <label for="" class="">Briefing</label>
            <input id="id_briefing" maxlength="50" name="briefing" type="text" value="{{form.briefing.value}}" class="form-control"/>
         </div>
         <div class="form-group">
            <label for="" class="">Texto</label>
            <textarea cols="40" id="id_texto" name="texto" rows="15" class="form-control">{{form.texto.value}}</textarea>
         </div>
         <div class="form-group">
            <label for="" class="">Imagem</label>
            <input id="id_imagem" name="imagem" type="file" class="form-control" />
         </div>
         <div class="form-group">
            <input id="id_dataCriacao"  class='form-control' name="dataCriacao" readonly="True" type="hidden" value="{{form.dataCriacao.value}}"/>
         </div>
         <div class="form-group">
            <input type="submit" value="Criar" class="btn btn-success col-md-1 pull-right">
            <a href="{% url 'home' %}" class="btn btn-default col-md-1 pull-right">Voltar</a>
         </div>
      </div>
   </form>
</div>
{% endblock %}