<nav class="navbar navbar-default" role="navigation">
   <div class="container">
      <div class="navbar-header">
         <button class="navbar-toggle" type="button" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="{% url 'blog.views.home' %}">blogDjango</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
            <li><a href="{% url 'blog.views.home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li>
               {% if user.is_authenticated %}
               <a href="{% url 'blog.views.criar' %}"><span class="glyphicon glyphicon-plus"></span> Criar</a>
               {% endif %}
            </li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
            <li>
               {% if user.is_authenticated %}
               <a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-certificate"></span> Admin</a>
               {% endif %}
            </li>
            <li>
               {% if user.is_authenticated %}
               <a href="#" data-toggle="modal" data-target="#logoutModal"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
               {% else %}
               <a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
               {%endif%}
            </li>
         </ul>
      </div>
   </div>
</nav>
<div id="logoutModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Questão</h4>
         </div>
         <div class="modal-body">
            <p>Deseja sair do Sistema?</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"> Não</button>
            <a href="{% url 'logout' %}" class="btn btn-danger" data-toggle="modal"> Sim</a>
         </div>
      </div>
   </div>
</div>