{% extends 'base.html' %}
{% block content %}
<div class="container">
   <div class="row">

      <div class="col-md-8">
         {% for post in postLast %}
         <a href="{% url 'show' id=post.id %}">
            <p class="titlePrincipal">{{post.title}}</p>
            <ul>
               <li class="txtBriefing">
                  <p>{{post.briefing}}</p>
               </li>
            </ul>
            <p><img src="{{post.image.url}}" alt="{{ post.title }}" class="image-home-current img-responsive">
            </p>
         </a>
         {% endfor %}
      </div>

      <div class="col-md-4">
         <form action="{% url 'home' %}" method="POST">
            {% csrf_token %}
            <div class="input-group">
               <input type="text" class="form-control pull-left" id="search" name="search"
                  placeholder="Search for previous posts">
               <span class="input-group-btn">
                  <button class="btn btn-info btn-search" type="submit"><span
                        class="glyphicon glyphicon-search"></span></button>
            </div>
         </form>
         <h5 class="titleall pull-left">All Posts:</h5>
         <ul class="pull-left">
            <div style="margin-top:10%;">
               {% for post in postsAll %}
               <a href="{% url 'show' id=post.id %}">
                  <li>
                     <p class="titlelist">{{post.title}}</p>
                  </li>
               </a>
               {% endfor %}
            </div>
         </ul>
         <div class="pull-right">
            <span>
               {% if postsAll.has_previous %}
               <a href="?page={{ postsAll.previous_page_number }}"><span
                     class="glyphicon glyphicon-arrow-left"></span></a>
               {% endif %}
               <span>
                  Page {{ postsAll.number }} of {{ postsAll.paginator.num_pages }}
               </span>
               {% if postsAll.has_next %}
               <a href="?page={{ postsAll.next_page_number }}"><span class="glyphicon glyphicon-arrow-right"></span></a>
               {% endif %}
            </span>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-8">
         <hr class="hr-home">
      </div>
   </div>
   <div class="row">
      {% for post in post2 %}
      <a href="{% url 'show' id=post.id %}">
         <div class="col-md-2">
            <img src="{{post.image.url}}" class="img-responsive imghome">
            <p class="titlepost2">{{post.title}}</p>
         </div>
      </a>
      {% endfor %}
   </div>
   <div class="row">
      <div class="col-md-8">
         <hr class="hr-home">
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         {% for post in post3 %}
         <a href="{% url 'show' id=post.id %}">
            <div class="col-md-3">
               <p class="titlepost3">{{post.title}}</p>
            </div>
         </a>
         {% endfor %}
      </div>
   </div>
</div>
<p>{{postlast.title}}</p>
{% for postsAll in postsAll %}
{% endfor %}
</div>
{% endblock %}