{% extends 'base.html' %}
{% block content %}
<div class="container">
   {% for postagem in postUltimo %}
   <div class="row">
     
         <div class="col-md-8">
          <a href="{% url 'show' id=postagem.id %}">
            <p class="tituloPrincipal">{{postagem.titulo}}</p>
            <ul>
               <li class="txtBriefing">
                  <p>{{postagem.briefing}}</p>
               </li>
            </ul>
             </a>
         </div>
     
      {% endfor %}
      <div class="col-md-4">
         <form action="{% url 'home' %}" method="POST">
            {% csrf_token %}
            <div class="input-group">
               <input type="text" class="form-control" id="busca" name="busca" placeholder="Buscar por postagens anteriores">
               <span class="input-group-btn">
               <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </div>
         </form>
         <ul>
            <h5 class="titulotodos">Todas as Postagens:</h5>
            {% for postagem in postsAll %}
            <a href="{% url 'show' id=postagem.id %}">
               <li>
                  <p class="titulolista">{{postagem.titulo}}</p>
               </li>
            </a>
            {% endfor %}
         </ul>
         <div class="pull-right">
            <span>
            {% if postsAll.has_previous %}
            <a href="?page={{ postsAll.previous_page_number }}"><span class="glyphicon glyphicon-arrow-left"></span></a>
            {% endif %}
            <span>
            Página {{ postsAll.number }} de {{ postsAll.paginator.num_pages }}
            </span>
            {% if postsAll.has_next %}
            <a href="?page={{ postsAll.next_page_number }}"><span class="glyphicon glyphicon-arrow-right"></span></a>
            {% endif %}
            </span>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-7">
         <hr>
      </div>
   </div>
   <div class="row">
      {% for postagem in post2 %}
      <a href="{% url 'show' id=postagem.id %}">
         <div class="col-md-3">
            <p class="titulopost2">{{postagem.titulo}}</p>
         </div>
      </a>
      {% endfor %}
   </div>
   <div class="row">
      <div class="col-md-7">
         <hr>
      </div>
   </div>
   <div class="row">
      {% for postagem in post3 %}
      <a href="{% url 'show' id=postagem.id %}">
         <div class="col-md-2">
            <img src="{{postagem.imagem.url}}" class="img-responsive imghome">
            <p class="titulopost3">{{postagem.titulo}}</p>
         </div>
      </a>
      {% endfor %}
   </div>
   <p>{{postlast.titulo}}</p>
   {% for postsAll in postsAll %}
   {% endfor %}
</div>
{% endblock %}