{% extends 'base.html' %}
{% block content %}
<div class="container">
   <div class="row">
      <div class="col-md-7 center-block">
         <p class="tituloShow">{{post.titulo}}</p>
         <ul>
            <li class="txtBriefingShow">
               <p>{{post.briefing}}</p>
            </li>
         </ul>
         <p>Publicado por <b>{{autor.username}}</b> em <b>{{post.dataCriacao}}</b></p>
      </div>
   </div>
   <div class="row">
      <div class="col-md-7 center-block">
         <a href="{{post.imagem.url}}">
         <img src="{{post.imagem.url}}" alt="" class="imgShow img-responsive">
         </a>
         {{post.texto}}
      </div>
      <div class="col-md-7">
         <p></p>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <a href="{% url 'home' %}" class="btn btn-default col-md-1 pull-right">Voltar</a>
         {% if user.is_authenticated %}
         <a href="{% url 'blog.views.editar' id=post.id %}" class="btn btn-warning pull-right col-md-1">Editar</a>
         {%endif%}
      </div>
   </div>
</div>
{% endblock %}